@page "/login"
@using movie_watchlist_blazor.Services
@inject AppState AppState
@inject NavigationManager NavManager

<div class="page-center">
    <div class="auth-card">

        <h2>Login</h2>

        <div class="mt-3">
            <input class="form-control mb-2" placeholder="Email" />
            <input class="form-control mb-3" placeholder="Password" type="password" />

            <!-- FIXED BUTTON -->
            <button class="btn btn-primary w-100" @onclick="LoginUser">
                Login
            </button>
        </div>

        <p class="mt-3 text-muted">
            Don't have an account? <a href="/register">Register</a>
        </p>

    </div>
</div>

@code {
    private void LoginUser()
    {
        AppState.IsLoggedIn = true;
        NavManager.NavigateTo("/dashboard");
    }
}