@page "/logout"
@rendermode InteractiveServer

@inject movie_watchlist_blazor.Services.AppState AppState
@inject NavigationManager NavManager

<p>Logging out...</p>

@* Page to display when the user goes to log out of the application *@

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AppState.LogoutAsync();

            NavManager.NavigateTo("/", forceLoad: true);
        }
    }
}